{% extends "templates/app.html" %}

{% block main %}

  <div class="hero">
    <div class="container text--center">
      <h3 class="text--center">
        Start controlling your home through messages.
      </h3>
      
      <a href="/auth/facebook" class="button button--black"><i class="fa fa-facebook" aria-hidden="true" style="padding-right: 1rem;"></i>   Login with facebook</a>
    </div>
    <img src="https://cdn.glitch.com/523bee3f-1f24-472e-8466-59b0fc9f4fbd%2FPhone.png?1500902858448" class="img--responsive hero--phone">
  </div>
{% endblock %}